@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  display: flex;
}

#canvas-engine-devtools {
  font-size: 10px;
  max-width: 400px;
  width: 100%;
}

#canvas-engine-devtools .overflow-auto {
  scrollbar-width: thin;
}
#canvas-engine-devtools .overflow-scroll {
  scrollbar-width: thin;
}
#canvas-engine-devtools .overflow-x-auto {
  scrollbar-width: thin;
}
#canvas-engine-devtools .overflow-y-auto {
  scrollbar-width: thin;
}
#canvas-engine-devtools .overflow-x-scroll {
  scrollbar-width: thin;
}
#canvas-engine-devtools .overflow-y-scroll {
  scrollbar-width: thin;
}

#canvas-engine {
  flex: 1;
}

.modal-wrapper {
  top: 50%; /* why it doesnt work tailwind config? */
  left: 50%;
}

.disable-outline * {
  outline: none !important;
}
